@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  height: 100%;
}

.wrapper {
  overflow: hidden;

  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar {
  background: #294050;
  flex: 3.9 3.9 100%;
}
.sidebar__menu {
  position: fixed;
  margin: 0 0 0 3.5%;
  padding: 0 5px 0 0;
}
h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin: 23px 0px 0px 3.5%;
  flex: 3.9 3.9 100%;
}
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0px 0 20px 0;
}
h2::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../img/Vector2.png) 0px 12.5px no-repeat;
  margin: 0 5px 0 0px;
}
.sidebar__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 0px 0 0px 10.66%;
}
li {
  margin: 0 0 20px 0;
}
li:last-child {
  margin: 0 0 30px 0;
}
.sidebar__link:hover {
  color: #ff6625;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0px 0 0px 0;
}
h3::before {
  content: "";
  width: 24px;
  height: 25px;
  display: inline-block;
  background: url(../img/Vector3.png) 0px 11px no-repeat;
  margin: 0 -5px 0 0;
}
.rightside {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  display: flex;
  margin: 90px 0 0 0;
}
.header {
  position: fixed;
  width: 100%;
  display: flex;
  background: #294050;
  z-index: 2;
}
.header__right {
  flex: 1 1 100%;
  display: flex;
  margin: 0 0 0 -50px;
  justify-content: space-between;
}
.header__search {
  background: #ffffff;
  border: 1px solid rgba(42, 66, 84, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
  margin: 19px 0;
  flex: 0 1 40%;
}
.search {
  padding: 16px 0 16px 40px;
  background: url(../img/Vector.png) 5% 50% no-repeat;
  font-size: 16px;
  display: flex;
  flex: 1 1 10%;
}
.header__user {
  width: 48px;
  height: 48px;
  margin: 21px 3.5% 21px 5px;
  display: flex;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  color: #000000;
  margin: 30px 0 20px 50px;
}
.games__items {
  display: flex;
  flex-direction: column;
}
.image {
  background: url(../img/maxresdefault.png) center no-repeat;
  background-size: cover;
  padding: 0 0 100% 0;
  position: relative;
}
.image_1 {
  background: url(../img/bf4-keyart.jpg.adapt.crop191x100\ 1.png) center
    no-repeat;
  background-size: cover;
  padding: 0 0 100% 0;
  position: relative;
}
.image_2 {
  background: url(../img/cover.cyberpunk-2077.1440x2160.2019-08-20\ 1.png)
    center no-repeat;
  background-size: cover;
  padding: 0 0 100% 0;
  position: relative;
}
.image_3 {
  background: url(../img/1130791_COqLRw6IGlDVHxyV8aqC9_YaF0sCN8IbOlVhzJ6sWm5tlpKTjN8npK2vA_mUJUdyQjP4-U4rEnk7cScmlvoLzXi7\ 1.png)
    center no-repeat;
  background-size: cover;
  padding: 0 0 100% 0;
  position: relative;
}
.image__discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e4612a;
  position: absolute;
  top: 10%;
  left: -30%;
  transform: rotate(-45deg);
  width: 100%;
  height: 61.56px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.image__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.games__down {
  display: flex;
  justify-content: space-between;
}
.games__burger_discount {
  background: url(../img/Vector4.png) center no-repeat;
  background-size: cover;
  width: 18px;
  height: 12px;
  margin: 7px 15px 0 0;
}
.games__burger_one {
  background: url(../img/Vector4.png) center no-repeat;
  background-size: cover;
  width: 18px;
  height: 12px;
  margin: 7px 15px 0 0;
}
.games__burger {
  background: url(../img/Vector4.png) center no-repeat;
  background-size: cover;
  width: 18px;
  height: 12px;
  margin: 7px 15px 0 0;
}
@media (max-width: 1200px) {
  .games__items {
    flex-direction: row;
  }
  .games__row {
    flex-direction: column;
  }
  .games__item_discount_three {
    order: 2;
  }
  .games__item_discount_two {
    order: 3;
  }
  .games__item_discount_one {
    order: 1;
  }
  .rightside .next-results {
    padding: 0 0 10% 0;
  }
  .sidebar {
    flex: 3 3 100%;
  }
  h1 {
    flex: 3 3 100%;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  h3::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../img/Vector3.png) 0px 4px no-repeat;
    margin: 0 5px 0 0;
  }
}
@media (max-width: 900px) {
  .games__items {
    flex-direction: column;
  }
  .sidebar {
    flex: 2.8 2.8 100%;
  }
  .games__item_discount_three {
    order: 3;
  }
  .games__item_discount_two {
    order: 2;
  }
  .games__item_discount_one {
    order: 1;
  }
  h1 {
    flex: 2.8 2.8 100%;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  h3::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url(../img/Vector3.png) 0px 5px no-repeat;
    margin: 0 3px 0 0;
  }
  .sidebar__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0px 0 0px 10.66%;
  }
}
@media (max-width: 550px) {
  .games__items {
    flex-direction: column;
  }
  .games__item_discount_three {
    order: 3;
  }
  .games__item_discount_two {
    order: 2;
  }
  .games__item_discount_one {
    order: 1;
  }
}

.price__paste {
  display: flex;
}
.price__paste::before {
  content: "-50%";
  width: 48px;
  height: 24px;
  display: inline-block;
  background: #e4612a;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  margin: 0 10px 0 0;
}
.price__trhough {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 5px 0 0;
}
.price__space {
  margin: 0 5px 0 0;
}
.price__actual {
  display: flex;
  margin: 0 0 0 10px;
}
.content__games {
  padding: 0px 20px 0 50px;
}
.games__row {
  flex: 1 1 33.3333%;
  display: flex;
  margin: 0px 0 0px 0;
}

.games__item {
  background: #294050;
  border-radius: 8px;
  flex: 1 1 33%;
  margin: 0 30px 30px 0;
  overflow: hidden;
}
.games__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  margin: 20px 0 0 20px;
  color: #ffffff;
}
.games__discription {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  margin: 0px 0 20px 20px;
  color: #ffffff;
}

.games__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 20px 10px;
  display: flex;
  /* identical to box height, or 133% */

  color: #ffffff;
}

.next-results {
  background: url(../img/Next\ results.png) center no-repeat;

  padding: 0 0 5% 0;
  margin: 10px 0 5% 0;
  position: relative;
}
